body {
    background-color: #021526;
    color: #E2E2B6;
}

#canvas {
    border: 1px solid #03346E;
    border-radius: 8px;
    transition: border-color 0.3s;
}

#canvas:hover {
    border-color: #6EACDA;
}

.card {
    background: linear-gradient(135deg, #03346E, #6EACDA);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.btn-custom {
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #03346E;
    transform: translateY(-2px);
}

.mt-5 {
    margin-top: 5rem;
}

.bold {
    font-weight: bold;
}

.blue-text {
    color: #6EACDA;
}

.red-text {
    color: #E53935;
}

input.file-path.validate {
    border-bottom: 1px solid #6EACDA;
    color: #E2E2B6;
}

input.file-path.validate:focus {
    border-bottom: 1px solid #E2E2B6;
}

.container {
    max-width: 800px;
    margin: auto;
}
#canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #03346E;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

